body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: rgb(233, 233, 199);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  border-radius: 15px;
}

header {
  grid-column: span 12;
  background-color: #1B4361;
  color: white;
  padding: 10px 10px 10px 20px;
  border: 3px solid #6d6d6d;
  border-radius: 24px;
  box-shadow: 3px 2px 7px #999;
}
h1 {
  font-weight: 400;
  text-shadow: 1px 1px 20px #fff;
  font-family: "Cutive Mono", monospace;
}

.Aboutme {
  grid-column: span 5;
  text-align: center;
  background-color: #afcfcfc9;
  padding: 5px;
  margin: 6px 3px 3px 3px;
  border: 2px solid #6d6d6d;
  border-radius: 12px;
  font-family: "Merriweather", serif;
}
.Aboutme #myCarousel {
  margin: 10px;
  
}
#myCarousel .f-carousel__slide {
  text-align: center;
  padding: 15px;
  background: #a1c3cc;
  border-radius: 15px;
  border: 2px solid #999;
}
#myCarousel img {
  border-radius: 20px;
  border: 1px solid black;
}
.f-carousel {
  --f-button-width: 38px;
  --f-button-height: 38px;

  --f-button-svg-width: 16px;
  --f-button-svg-height: 16px;
  --f-button-svg-stroke-width: 2.5;

  --f-button-color: rgb(71 85 105);
  --f-button-border-radius: 50%;
  --f-button-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0
          0 / 30%);

  --f-button-bg: #fff;
  --f-button-hover-bg: #f9f9f9;
  --f-button-active-bg: #f0f0f0;
}
.Aboutme h2:after {
  content: ""; /* This is necessary for the pseudo element to work. */ 
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 200px; /* Change this to whatever width you want. */
  padding-top: 10px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid black;
}
.Aboutme p {
  font-size: 20px;
  margin-bottom: 0px;
}
.Aboutme .catmessage {
  font-size: 8px;
  margin: 3px 20px 20px 20px;
  color: #cfcfcf;
  transition: 1.5s;
}
.Aboutme .catmessage:hover {
  font-size: 10px;
  color: #84a4ad;
}
.Aboutme h2 {
  text-shadow: 2px 1px 10px #999;
}
.Aboutme .gallery {
  margin: 10px;
}
.Aboutme img {
  border-radius: 10px;
}

nav {
  grid-column: span 12;
  font-family: "Merriweather", serif;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  color: white;
  text-transform: uppercase;
  margin: 20px 25px;
  display: inline-block;
}
nav li a {
  background-color: #1B4361;
  color: white;
  border: 3px solid #6d6d6d;
  border-radius: 16px;
  padding: 20px;
  text-decoration: none;
  display: block;
  text-align: center;
  transition: background-color 1.0s, box-shadow 1.0s;
  width: 200px;
}
nav li a:hover {
  background-color: #2d5d81;
  font-weight: bold;
  box-shadow: 10px 10px 10px #999;
  color: rgb(135, 182, 221);
  text-shadow: 2px 1px 15px rgb(207, 223, 236);
}

main {
  grid-column: span 7;
  font-family: "Merriweather", serif;
}
main h2 {
  text-align: center;
  text-shadow: 4px 3px 5px #999;
  margin-top: 50px;
}
main h2:after {
  content: ""; /* This is necessary for the pseudo element to work. */ 
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 125px; /* Change this to whatever width you want. */
  padding-top: 10px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid black;
}
main h3 {
  margin-top: 40px;
  text-shadow: 4px 4px 7px #aaaaaa;
}
main p {
  font-size: 18px;
}
main .icons {
  margin-top: 125px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
main .icons a {
  color: black;
  font-size: 100px;
  margin: 50px 15px;
  grid-column: span 1;
}
main .icons a:hover {
  color: #636363;
}
main .icons p {
  grid-column: span 2;
  text-align: left;
  font-size: 20px;
  margin-top: 95px;
}

footer {
  grid-column: span 12;
  background-color: #1B4361;
  color: white;
  padding: 30px;
  border: 3px solid #6d6d6d;
  border-radius: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer p {
  font-size: 25px;
  font-family: "Courier Prime", monospace;
  color: white;
  grid-column: span 1;
  text-shadow: 2px 3px 4px rgb(236, 34, 34);
}


/*.circle {
  padding: 10px;
  width: 250px;
  height: 250px;
  border: 3px solid green;
  background-color: red;
  color: white;
  border-radius: 500px;
  box-shadow: 10px 10px 10px #999; /* x, y, blur, color */
